.d-flex.mt-3.ping-wrapper.align-items-center
  = link_to t('links.ping'), ping_new_sites_path, remote: true, data: { type: :json }, class: 'btn btn-outline-dark ping-link flex-shrink-0'
  .ms-3.ping-box.text-truncate
